.icon, .cancelIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.cancelIcon {
  margin: 5px;
}

.menu {
  position: fixed;
  z-index: 1;
  width: 200px;
  height: 100%;
  transform: translate3d(0px, 0, 0);
  transition: all .2s cubic-bezier(0, 1.26, .8, 1);
  top: 0px;
  border-color: rgb(139, 143, 151);
  border-style: solid;
  border-top: 0px;
  border-bottom: 0px;

  display: flex;
  flex-direction: column;

  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(77, 120, 177) 35%, rgb(0, 195, 255) 100%);
}
.menu.hideLeft {
  transform: translate3d(-200px, 0, 0);  
}
.menu.hideRight {
  transform: translate3d(200px, 0, 0);  
}

.menuItems {
  display: flex;
  flex-direction: column;
  align-items: end;

  margin: 0px;
}

.menuItem {
  color: #e9ebf0;
  padding: 5px;
  width: 100%;  
  background-color: transparent;
  border-bottom: 1px solid rgba(139, 143, 151);  
}
.menuItem:first-child {
  border-top: 1px solid rgba(139, 143, 151);
}
.menuItem:hover {
  background: rgb(94, 126, 168);
}
