body {
  background-color: rgb(52, 103, 170);
  
  /* I will set these any any required components */
  padding: 0px;
  margin: 0px;
  color: #e9ebf0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #e9ebf0;
}

.layout {
  height: 100%;
}